/* STYLE FOR YOUR INDEX.HTML */
.headshot{
    display: flex;
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 10px;
    margin-left: 10%;
    border: 2px solid black;
    border-radius: 15px;
    transition: all 0.5s ease;

}

.hover-text{
    opacity: 0; /**/
    align-items: flex-end;
    transition: opacity 0.5s;
}
.pfp-container{
    display: flex;
    justify-content: left;
    align-items: center;
   width: 100%;
   margin-bottom: 20px;
}

.pfp{
    width: 100px;
}

.headshot-container{
    display: flex;
    width: 40vw;
    height: auto;
    background-color: gainsboro;
    border: 3px solid black;
    flex-direction: column;
    justify-content:center;
    flex-wrap: wrap;
    padding-left: 10px;
    transition: all 0.5s;
}

.headshot-container:hover{
    background-color: cornflowerblue;
    cursor: pointer;
    width: 80vw;
    height: auto;
    padding-top: 30px;
    font-size: x-large;
}

.headshot-container:hover .headshot{
    transform: scale(1.3);
    margin-left: 60px;
}

.headshot-container:hover .hover-text{
    opacity: 1;
}

.headshot-container h1{
    margin-top: 4%;
}

.headshot-container p{
    margin-top: 0px;
}

.btn1{
    display: flex;
    width: 40vw;
    height: 6vw;
    margin: auto;
    background-color: gray;
    border: 3px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.5s;
}

.btn1:hover .hover-text{
opacity: 1;
}

.background-container{
    display: flex;
    background-color: yellow;
    border: 3px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@font-face {
    font-family: filipinoFont;
    src: url(assets/Quiapo_Free.otf);
}

h2{
    font-family: filipinoFont;
    font-size: xxx-large;
}

