/* STYLE FOR YOUR INDEX.HTML */
.headshot{
    display: flex;
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
}

.home-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.pfp:hover{
    cursor: pointer;
}

.flex-container{
    display: flex;
    width: 300px;
    height: auto;
    background-color: gainsboro;
    border: 3px solid black;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
}

.flex-container:hover{
    background-color: cornflowerblue;
    cursor: pointer;
}

.background-container{
    display: flex;
    background-color: red;
    border: 3px solid black;
    flex-direction: column;
    justify-content:flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

